# create a markdown cell with title of the cell

Data Science Tools and Ecosysytem

# create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

# insert a markdown cell to list objectives

**Objectives** : 
- List of Data Science languages
- List of Data Science libraries
- Table for Data Science Tools
- arithmetric operations
- multiplying and adding the integers
- converting minutes into hours

# create a markdown cell to list the data science languages

Some of the popular languages that Data Scientists use are : 
1. Python
2. JavaScript
3. Scala
4. R language
5. SQL
6. Julia

# create a markdown cell to list the data science libraries

Some of the commonly used libraries used by Data Scientists include : 
1. Pandas
2. Numpy
3. Matplotlib
4. TensorFlow
5. SciPy
6. PyTorch
7. Seaborn
8. Scikit-learn
9. Plotly

# create  a markdown cell with a table of data science tools

| Data Science Tools |
|--------------------|
| RStudio |
| Apache Spark |
| TensorFlow |
| Hadoop |

# create a markdown cell introducing arithmetic expression examples

### H3 : Below are a few examples of evaluating arithmetic expressions in python :
1. addition - 2+2
2. subtraction - 4-3
3. multiplication - 5*5
4. division - 6/2

In [1]:
# This a simple arithmetic expression to multiply and then add integers.
(3*4)+5

17

In [4]:
# This will convert 200 minutes into hours by dividing it by 60
n=float(input('enter the time in minutes: '))
hours=n/60
print(hours)

enter the time in minutes:  200

3.3333333333333335

# create a markdown cell to indicate the Author's name

## H2 : Author
Mrunalini Yeole